		/* menu lateral */
        .skin-blue .main-sidebar {
                              background-color: #00649e;
                              }

        /* aba do menu lateral quando selecionado */
        .skin-blue .main-sidebar .sidebar .sidebar-menu .active a{
                              background-color: #013452;
							  color: #ffffff
                              }

        /* abas não selecionadas do menu lateral */
        .skin-blue .main-sidebar .sidebar .sidebar-menu a{
                              background-color: #004973;
                              color: #ffffff;
                              }

        /* abas do menu lateral quando o mouse passa */
         .skin-blue .main-sidebar .sidebar .sidebar-menu a:hover{
                              background-color: #004973;
                              }
		/* body */
                                text {
     font-family: helvetica,arial,sans-serf;
}
								.content-wrapper, .right-side {
                                background-color: #ffffff;
                                }
										
		/* Menu principal */
		/*.skin-blue .main-header .navbar {
							background-color: #e7dfd5;
							}
		/* toggle button when hovered                  
		.skin-blue .main-header .navbar .sidebar-toggle:hover{
							background-color: #ff69b4;
}